{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
</head>

<body style="margin: 0">
    <div id="ac_game_12345678"></div>
    <div class="">
        <span>
            © 2022 ermao 版权所有
            &nbsp;|&nbsp;
            <a href="https://beian.miit.gov.cn/">苏ICP备2022030511号-1</a>
        </span>
    </div>

    <script type="module">
        import { AcGame } from "{% static 'js/dist/game.js' %}"
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
</body>

